<!DOCTYPE html>
<html>
<head>
    <title>MetaShield - File Metadata Detector</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>🛡 MetaShield</h1>

    <h2>Cybersecurity File Metadata Detector</h2>

    <p>
        Analyze Images, PDFs, Word Documents and Videos
        to detect hidden metadata and privacy risks.
    </p>

    <div class="upload-box">

        <h3>Upload a File</h3>

        <form action="/upload" method="POST" enctype="multipart/form-data">

    <input type="file" name="file" required>

    <br><br>

    <button type="submit">
        Analyze Metadata
    </button>

</form>

    </div>

</div>
